body{
    background-image: url(76YS.gif);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;

}

a{
    color: red;
    text-decoration: none;
    cursor: pointer;
}